@import url('https://fonts.googleapis.com/css2?family=Baskervville&display=swap');
@font-face {
    font-family: Bodoni;
    src: url("/webfontkit-20210404-083640/bodonimoda-variablefont_opszwght-webfont.woff");
}

div{
    display: inline-block;
}

html{
    text-align: justify;
}
#top{
    background-color: #4b4b4b;
    color: #FFFFFF;
    padding: 25px 20px;
    position:fixed;
    top: 0;
    width: 100%;
}

#top nav{
    float: left;
    margin: 0 20px 0 0;
    overflow: hidden;
}


#top a{
    color: #FFFFFF;
    text-decoration: none ;
    font-size: x-large;
}

#Referencias a{
    color: #4340da;
}

#top a:hover{
    color: #ff9999;
}

#Referencias a:hover{
    color: #c23f3f;
}

body{
    margin: 0;
}

.section{
    text-align: center;
    margin:0;
}


#Sinopsis{
    background-color: #a9c8c8;
    padding: 100px 0;
    
}



.section_title{
    color: #856969;
    
    text-shadow: 1px 1px #2a150d;
    font-family:'Bodoni';
    /*
    color: #2a150d;
    */
    text-align: left;
    font-size: xx-large;

    /*
    background-color: #00000015;
    */
    background-color: rgba(78, 78, 78, 0.178);
    display: inline-block;
    padding: 2px 20px;
    border-radius: 3px;
}

.section_text, .subsection_text{
    padding:  0 15%;
    font-size: x-large;
    text-align: justify;
    font-family:'Baskervville';
}


.need {
    width: 80%;
    height: 80%;
}

#Necesidades .need{
    /*float:left;*/
    padding: 10px;
    overflow: hidden;
    display: inline-table;
    width: 30%;
    /*
    margin-bottom: 100px;
    */
    margin-left: 5%;
    margin-right: 5%;
    background-color: #a9c8c815;
    margin-bottom: 10%;
    
}

#Necesidades .need .need_value{
    font-family: 'Baskervville';
    text-align: left;
    font-size: larger;
}

#Necesidades .need .need_title{
    font-family: 'Bodoni';
    font-weight: 1000;
    font-size:x-large;
    text-align: left;
    color: #856969 ;
    background-color: rgba(78, 78, 78, 0.178);;
}

#Tecnologias{
    background-color: #a9c8c8;
    padding: 100px 0;    
}

#Necesidades img{
    width: 80%;
    height: 80%;
}


#Tecnologias .subsection{
    display: inline-table;
    width: 35%;
    padding: 30px;
}

#Tecnologias .section_text, #Tecnologias .subsection_text{
    font-size: x-large;
    text-align: justify;
    margin: 20px;
    display: inline-block;

}

#Tecnologias .subsection_title{
    color: #856969;
    font-size: x-large;
    padding: 10px;
}

#Referencias{
    clear :both;
    position:relative;
    left: 0;
    bottom: 0;
    background-color: #a9c8c8;
    
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
}


